{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../../static/app/style.css" />
  <title>View All Delivery Order</title>
</head>

<body>
  <header>
    <div class="navbar">
      <a href="/menu">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Purchase Order</button>
        <div class="dropdown-content">
          <a href="/viewPO">View</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Delivery Order</button>
        <div class="dropdown-content">
          <a href="/createDO">Create</a>
          <a href="/viewAllDO">View</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Restock Order</button>
        <div class="dropdown-content">
          <a href="/viewRO">View</a>
        </div>
      </div>
      <div>
        <button class="logout"><a href="/logout">Log out</a></button>
      </div>
    </div>
  </header>

  <section class="content-po">
    <div class="content-header-po">View All Delivery Order</div>

    <section class="content-more-po">
      <form class="check-po">
        <label for="check">Delivery Order ID: {{ deliveryID }}</label>
        <br>
        <label for="check">Purchase Order ID: {{ purchaseID }}</label>
        <br>
        <label for="check">Delivery Address: {{ deliveryAddress }}</label>
        <br>
        <label for="check">Delivery Date: {{ deliveryDate }}</label>
        <br>
      </form>

      <div>
        <table class="main-table-po">
          <tr class="row-1-po">
            <td>Item ID</td>
            <td>Item Name</td>
            <td>Item Quantity</td>
          </tr>
          {% for column in data %}
          <tr>
            <td>{{column.pk}}</td>
            <td>{{column.fields.itemName}}</td>
            <td>{{column.fields.itemQuantity}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </section>
  </section>


</body>

</html>

{% endblock %}